
Home Page

<ul>
  <% if user_signed_in? %>
    <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
  <% else %>
    <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
    <li> <%= link_to 'Sign in', new_user_session_path %> </li>
  <% end %>
  <li>
    <%= link_to 'Songs', songs_path %>
    <ul>
      <li> <%= link_to 'Links', song_links_path %> </li>
    </ul>
  </li>
  <li> <%= link_to 'Artists', artists_path %> </li>
  <li> <%= link_to 'Genres', genres_path %> </li>
</ul>
